[submodule "external/testing_framework"]
	path = external/testing_framework
	url = https://github.com/martin-danhier/testing_framework.git
[submodule "external/libdatachannel"]
	path = external/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel
